{
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "**/*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
